* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  --d-bl-cl: #31c3bd;
  --bl-cl: #65e9e4;
  --bl-btn-sh-cl: #118c87;
  --y-cl: #f2b137;
  --d-y-cl: #ffc860;
  --y-btn-sh-cl: #cc8b13;
  --dr-cl: #1a2a33;
  --dr-gr-cl: #1f3641;
  --dr-sh-cl: #10212a;
  --gr-cl: #a8bfc9;
  --l-gr-cl: #dbe8ed;
  --gr-sh-cl: #6b8997;

  /* FONTS SIZES */
  --small-fs: 0.75rem;
  --normal-fs: 1rem;
  --large-fs: 1.25rem;

  /* FONT WEIGHTS */
  --normal-fw: 500;
  --bold-fw: 700;

  /* BORDER RADIUS */
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 15px;
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: var(--normal-fw);
  color: var(--gr-cl);
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

/* STYLING BUTTONS */
.btn {
  font-size: var(--normal-fs);
  border: none;
  padding-top: 0.875em;
  padding-bottom: 1.375em;
  font-weight: var(--bold-fw);
  color: var(--dr-cl);
  text-align: center;
  width: 100%;
  border-radius: var(--radius-lg);
  margin-bottom: 5px;
  white-space: nowrap;
}

.btn-yellow {
  background: var(--y-cl);
  box-shadow: inset 0 -8px 0 var(--y-btn-sh-cl);
}

.btn-blue {
  background-color: var(--d-bl-cl);
  box-shadow: inset 0 -8px 0 var(--bl-btn-sh-cl);
}

.btn-gray {
  background: var(--gr-cl);
  box-shadow: inset 0 -4px 0 var(--gr-sh-cl);
}

.btn-gray:hover {
  background: var(--l-gr-cl);
}
.btn-secondary {
  padding: 0.75em;
  width: fit-content;
  border-radius: var(--radius-sm);
}

.btn-secondary.btn-yellow {
  box-shadow: inset 0 -4px 0 var(--y-btn-sh-cl);
}

.btn > img {
  height: 20px;
  width: 20px;
}

.btn:hover {
  cursor: pointer;
}

.btn-yellow:hover,
.btn-yellow:focus {
  background: var(--d-y-cl);
}

.btn-blue:hover,
.btn-blue:focus {
  background: var(--bl-cl);
}

/* STYLING NEW GAME SCREEN */
.new-game-screen,
.active-game-screen {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--dr-cl);
}

.game-setup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  align-items: center;
}

.logo {
  height: 32px;
}

.choose-mark {
  padding: 1.5em;
  background: var(--dr-gr-cl);
  border-radius: var(--radius-lg);
  box-shadow: inset 0 -8px 0 var(--dr-sh-cl);
}

.marks {
  padding: 0.625em 0.5em;
  display: flex;
  border-radius: var(--radius-md);
  background: var(--dr-cl);
  margin-bottom: 1em;
}

.mark {
  width: 132px;
  height: 54px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-md);
}

.mark:hover {
  cursor: pointer;
}
.mark > svg {
  height: 32px;
  width: 32px;
}

.mark path {
  fill: var(--l-gr-cl);
}

.chosen path {
  fill: var(--dr-cl);
}

.chosen {
  background: var(--l-gr-cl);
}

.choose-mark-heading {
  font-weight: var(--bold-fw);
  color: var(--l-gr-cl);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.hint {
  color: var(--gr-cl);
  text-align: center;
  text-transform: uppercase;
}

.game-setup .btn-yellow {
  margin-bottom: 1em;
}

/* STYLING ACTIVE */
.game-wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
}

.current-player {
  display: flex;
  align-items: center;
  background: var(--dr-gr-cl);
  box-shadow: inset 0 -4px 0 var(--dr-sh-cl);
  padding: 0.625em 1em;
  gap: 0.625em;
  font-weight: var(--bold-fw);
  border-radius: var(--radius-sm);
}

.current-player-icon {
  width: 16px;
  height: 16px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 96px);
  grid-template-rows: repeat(3, 96px);
  gap: 1.25em;
  margin-bottom: 1.25em;
}

.cell {
  background: var(--dr-gr-cl);
  box-shadow: inset 0 -8px 0 var(--dr-sh-cl);
  border-radius: var(--radius-md);
  display: grid;
  place-items: center;
}

.cell:hover {
  cursor: pointer;
}

.mark-in-cell {
  height: 40px;
  width: 40px;
  transform-origin: center;
  transition: 1s all ease-in;
}

.game-wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.score {
  font-size: var(--large-fs);
  background: var(--gr-cl);
  padding: 1em;
  border-radius: var(--radius-md);
  font-weight: var(--bold-fw);
  color: var(--dr-cl);
  text-align: center;
  flex: 1;
}

.score-x {
  background: var(--d-bl-cl);
}

.score-o {
  background: var(--y-cl);
}

.score > span {
  display: block;
  font-weight: var(--normal-fw);
  font-size: var(--small-fs);
}

/* STYLING WINNER DISPLAY */

.display-winner-screen,
.redo-screen {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  text-align: center;
}

.display-winner-box {
  background: var(--dr-gr-cl);
  padding-top: 2.5em;
  padding-bottom: 3em;
  width: 100vw;
}

.notification {
  color: var(--gr-cl);
  font-weight: var(--bold-fw);
  margin-bottom: 1em;
}

.options-buttons > * {
  flex: 0;
}

.winner-info,
.options-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.winner-info {
  margin-bottom: 1.5em;
}

.hidden {
  display: none;
}

/* MEDIAQUERIES */
/* MEDIAQUERIES WILL GO HERE WHEN I WON"T BE TOO LAZY FOR CSS */
